
<div class="container-fluid">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
            <app-navbar></app-navbar>

<label for="" class="form-label">name</label>
            
<input type="text" class="form-control" name="" id="">

<label for="" class="form-label"> Address</label>


<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>

<label for="" class="form-label">Contact No</label>

<input type="text" class="form-control" name="" id="">

<label for="" class="form-label"> Check In</label>

<input type="date" class="form-control" name="" id="">

<label for="" class="form-label"> Check Out</label>
<input type="date" class="form-control" name="" id="">
<label for="" class="form-label"></label><br>
 <button class="btn btn-success">Book</button>
        </div></div></div>