<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row-g3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
 
      <div class="wrap">
 
        <div class="box">
         <div class="boxInner">
           <img src="https://media-cdn.tripadvisor.com/media/photo-s/24/3e/ec/d2/outdoor-pool.jpg">
            <div class="titleBox">
             
            </div>
          </div>
        </div>
       
        <div class="box">
         <div class="boxInner">
           <img src="https://media-cdn.tripadvisor.com/media/photo-s/1d/9f/55/46/sea-breeze-max-resort.jpg"/>
            <div class="titleBox">
          
            </div>
         </div>
        </div>
       
        <div class="box">
         <div class="boxInner">
          <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/21/96/1a/af/fairfield-by-marriott.jpg?w=1200&h=-1&s=1"/>
           <div class="titleBox">
            
           </div>
         </div>
        </div>
       
        <div class="box">
         <div class="boxInner">
          <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/21/96/1a/ab/fairfield-by-marriott.jpg?w=1200&h=-1&s=1"/>
           <div class="titleBox">
            
           </div>
         </div>
        </div>
       
        <div class="box">
         <div class="boxInner">
          <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/21/96/1a/a5/fairfield-by-marriott.jpg?w=1200&h=-1&s=1"/>
           <div class="titleBox">
            
           </div>
         </div>
        </div>
       
        <div class="box">
         <div class="boxInner">
          <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/21/96/1a/a3/fairfield-by-marriott.jpg?w=1200&h=-1&s=1"/>
           <div class="titleBox">
            
           </div>
         </div>
        </div>


        <div class="box">
            <div class="boxInner">
             <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/22/28/cb/52/fairfield-by-marriott.jpg?w=1200&h=-1&s=1"/>
              <div class="titleBox">
               
              </div>
            </div>
           </div>
           <div class="box">
            <div class="boxInner">
             <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/24/3e/eb/8b/lobby.jpg?w=1200&h=-1&s=1"/>
              <div class="titleBox">
               
              </div>
            </div>
           </div>
           <div class="box">
            <div class="boxInner">
             <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/24/5b/3a/4e/fairfield-by-marriott.jpg?w=1200&h=-1&s=1"/>
              <div class="titleBox">
               
              </div>
            </div>
           </div>
           <div class="box">
            <div class="boxInner">
             <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/22/7b/a1/f2/fairfield-by-marriott.jpg?w=1200&h=-1&s=1"/>
              <div class="titleBox">
               
              </div>
            </div>
           </div></div></div></div></div>